.flowHeight {
    height: 330px;
}
.vh-88 {
    height: 88vh;
}
.rem0p5 {
    font-size: 0.5rem;
}
.rem1 {
    font-size: 1rem;
}
.rem1p5 {
    font-size: 1.5rem;
}
.img-item {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img-burger {
    width: 20%;
    height: auto;
    object-fit: cover;
}
.color-background {
    background-color: #fef6e4;
}
.color-background-secondary {
    background-color: #001858;
}
.color-main {
    background-color: #f3d2c1;
}
.color-button {
    background-color: #f582ae;
}
.color-button-secondary {
    background-color: #8bd3dd;
}
.color-text {
    color: #001858;
}
.border {
    border: 2px solid #001858!important
}
/* effect */
.hover {
    cursor: pointer;
    }
    
    .hover:hover {
        opacity: 0.7;
    }
/* animation */
.money {
    animation: moneyFadeOut 1s linear forwards;
}
.burger-jump{
    animation: 0.08s cubic-bezier(0.01, 0.8, 0.1, 1) 0s 0.5 jump;
}
  
.burger-rotate{
    animation: rotate 1s linear 2;
}
  
@keyframes moneyFadeOut {
    from {
        transform: translateY(40px);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }
}    
  
@keyframes rotate {
    0% {
        transform:rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes jump {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

@media (min-width: 992px) {
    .img-burger {
        width: 60%;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 0;
    }
}