.flowHeight {
    height: 74%;
}
.vh-88 {
    height: 88vh;
}
.rem1 {
    font-size: 1rem;
}
.rem1p5 {
    font-size: 1.5rem;
}
.img-item {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* effect */
.hover {
    cursor: pointer;
    }
    
    .hover:hover {
        opacity: 0.7;
    }
/* animation */
.money {
    animation: moneyFadeOut 1s linear forwards;
}

@keyframes moneyFadeOut {
    from {
        transform: translateY(40px);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }
}    