.flowHeight {
    height: 74%;
}
.vh-88 {
    height: 88vh;
}
.rem1 {
    font-size: 1rem;
}
.rem1p5 {
    font-size: 1.5rem;
}
.img-item {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.color-background {
    background-color: #fef6e4;
}
.color-main {
    background-color: #f3d2c1;
}
.color-button {
    background-color: #f582ae;
}
.color-button-secondary {
    background-color: #8bd3dd;
}
.color-text {
    color: #001858;
}
.border {
    border: 1px solid #001858!important
}
/* effect */
.hover {
    cursor: pointer;
    }
    
    .hover:hover {
        opacity: 0.7;
    }
/* animation */
.money {
    animation: moneyFadeOut 1s linear forwards;
}

@keyframes moneyFadeOut {
    from {
        transform: translateY(40px);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }
}    